<div id="{{ act_name }}" class="col activity_sq {{ classes }}">
  <p class="text-center">
    <a href="node/add/{{ add_url }}">
      <img alt="pixel" class="fit-picture" src="{{ logo }}" width="100px" />
    </a>
  </p>
  <p class="text-center">
    {{ title }}
  </p>
  <p class="text-center">
    <a href="{{ help }}" data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="top" title="{{tooltip}}">
      <i class="fas fa-info-circle"></i></a>
    &nbsp;&nbsp;
    <span class="hidden">{{ tags }}</span>
    <i id="{{act_name}}_star" class="{{ onoff }} fa-star act-star" onclick='capytale.star_activity("{{act_name}}")'></i>
  </p>
</div>
