{{ attach_library('capytale_ui/activitySelector') }}

<input class="form-control" id="myInput" type="text" placeholder="Rechercher..">

<div id="myDIV" class="container" style="width:700px">

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a id="all" class="nav-link acti-toggle active" onclick="activateTab('all')">Tout</a>
    </li>
    <li class="nav-item">
      <a id="star" class="nav-link acti-toggle" onclick="activateTab('star')">Favoris</a>
    </li>
    <li class="nav-item">
      <a id="college" class="nav-link acti-toggle" onclick="activateTab('college')">École/Collège</a>
    </li>
    <li class="nav-item">
      <a id="lycee" class="nav-link acti-toggle" onclick="activateTab('lycee')">Lycée</a>
    </li>
    <li class="nav-item">
      <a id="prepa" class="nav-link acti-toggle" onclick="activateTab('prepa')">Prépa</a>
    </li>
        <li class="nav-item">
      <a id="vittascience" class="nav-link acti-toggle" onclick="activateTab('vittascience')">Vittascience</a>
    </li>
  </ul>

  <div class="row">


    {# ------------- PIXEL --------------- #}
    {% set param = {
    'act_name': "pixel",
    'add_url': "activity?type=pixel",
    'title': "Pixel'Art",
    'tags': "",
    'logo': "modules/custom/capytale_activity/src/Activity/logo/logo_pixel.svg",
    'help': "https://capytale2.ac-paris.fr/wiki/doku.php?id=pixel",
    'tooltip': "Dessiner avec des blocs de code. <i>Cliquez pour en savoir plus.</i>",
    'classes': (vars.userParam.is_pixel_creator)? "star college" : "college",
    'onoff': (vars.userParam.is_pixel_creator)? "fas yellow" : "far",
    } %}

    {% include '@capytale_ui/activity-template.html.twig' with param %}

    {# ------------- CODABLOC --------------- #}
    {% set param = {
    'act_name': "codabloc",
    'add_url': "activity?type=codabloc",
    'title': "Codabloc",
    'tags': "scratch",
    'logo': "modules/custom/capytale_activity/src/Activity/logo/logo_codabloc.svg",
    'help': "https://capytale2.ac-paris.fr/wiki/doku.php?id=codabloc",
    'tooltip': "L'environnement Scratch intégré dans Capytale pour programmer avec des blocs.<br /><i>Cliquez pour en
      savoir plus.</i>",
    'classes': (vars.userParam.is_codabloc_creator)? "star college" : "college",
    'onoff': (vars.userParam.is_codabloc_creator)? "fas yellow" : "far",
    } %}

    {% include '@capytale_ui/activity-template.html.twig' with param %}


    {# ------------- HTML --------------- #}
    {% if false and vars.tester %}
    {% set param = {
    'act_name': "html",
    'add_url': "activity?type=html",
    'title': "HTML+CSS+JS",
    'tags': "",
    'logo': "modules/custom/capytale_activity/src/Activity/logo/logo_html.svg",
    'help': "https://capytale2.ac-paris.fr/wiki/doku.php?id=html",
    'tooltip': "Découvrir les langages du Web : html, css et javascript.<br /><i>Cliquez pour en savoir plus.</i>",
    'classes': (vars.userParam.is_html_creator)? "star lycee" : "lycee",
    'onoff': (vars.userParam.is_html_creator)? "fas yellow" : "far",
    } %}
    {% include '@capytale_ui/activity-template.html.twig' with param %}
    {% endif %}


    {# ------------- WEB --------------- #}
    {% set param = {
    'act_name': "Web",
    'add_url': "activity?type=web",
    'title': "Web (nouveau)",
    'tags': "",
    'logo': "modules/custom/capytale_activity/src/Activity/logo/logo_web.svg",
    'help': "#",
    'tooltip': "Nouvelle activité sur les langages du web.<br /><i>Remplace l'acienne activité HTML+CSS+JS</i>",
    'classes': (vars.userParam.is_web_creator)? "star college lycee" : "college lycee",
    'onoff': (vars.userParam.is_web_creator)? "fas yellow" : "far",
    } %}
    {% include '@capytale_ui/activity-template.html.twig' with param %}





    {# ------------- CODEPUZZLE --------------- #}
    {% set param = {
    'act_name': "codepuzzle",
    'add_url': "activity?type=codepuzzle",
    'title': "CodePuzzle",
    'tags': "",
    'logo': "modules/custom/capytale_activity/src/Activity/logo/logo_codepuzzle_beta.svg",
    'help': "https://capytale2.ac-paris.fr/wiki/doku.php?id=codepuzzle",
    'tooltip': "Générateur et gestionnaire de puzzles de Parsons",
    'classes': (vars.userParam.is_codepuzzle_creator)? "star lycee college" : "lycee college",
    'onoff': (vars.userParam.is_codepuzzle_creator)? "fas yellow" : "far",
    } %}

    {% include '@capytale_ui/activity-template.html.twig' with param %}

    {# ------------- CONSOLE --------------- #}
    {% set param = {
    'act_name': "console",
    'add_url': "console_activity",
    'title': "Script-Console",
    'tags': "python",
    'logo': "modules/custom/capytale_activity/src/Activity/logo/logo_console.svg",
    'help': "https://capytale2.ac-paris.fr/wiki/doku.php?id=script-console",
    'tooltip': "L'environnement classique avec un script Python et une console d'exécution.<br /><i>Cliquez pour en
      savoir plus.</i>",
    'classes': (vars.userParam.is_console_creator)? "star lycee prepa" : "lycee prepa",
    'onoff': (vars.userParam.is_console_creator)? "fas yellow" : "far",
    } %}

    {% include '@capytale_ui/activity-template.html.twig' with param %}

    {# ------------- NOTEBOOK --------------- #}
    {% set param = {
    'act_name': "notebook",
    'add_url': "notebook_activity",
    'title': "Notebook",
    'tags': "python",
    'logo': "modules/custom/capytale_activity/src/Activity/logo/logo_nb.svg",
    'help': "https://capytale2.ac-paris.fr/wiki/doku.php?id=notebook",
    'tooltip': "Python dans un notebook Jupyter : cellules de texte et cellules de code.<br /><i>Cliquez pour en savoir
      plus.</i>",
    'classes': (vars.userParam.is_notebook_creator)? "star lycee prepa" : "lycee prepa",
    'onoff': (vars.userParam.is_notebook_creator)? "fas yellow" : "far",
    } %}

    {% include '@capytale_ui/activity-template.html.twig' with param %}


    {# ------------- NOTEBOOK SQL ------------ #}
    {% set param = {
    'act_name': "sql",
    'add_url': "notebook_activity?kernel=sql",
    'title': "SQL",
    'tags': "",
    'logo': "modules/custom/capytale_activity/src/Activity/logo/logo_sql.svg",
    'help': "https://capytale2.ac-paris.fr/p/basthon/n/?id=42529&kernel=sql",
    'tooltip': "Bases de données dans un notebook avec le langage SQL.<br /><i>Cliquez pour en savoir plus.</i>",
    'classes': (vars.userParam.is_sql_creator)? "star lycee prepa" : "lycee prepa",
    'onoff': (vars.userParam.is_sql_creator)? "fas yellow" : "far",
    } %}

    {% include '@capytale_ui/activity-template.html.twig' with param %}

    {# ------------- NOTEBOOK ocaml ------------ #}
    {% set param = {
    'act_name': "ocaml",
    'add_url': "notebook_activity?kernel=ocaml",
    'title': "OCaml",
    'tags': "",
    'logo': "modules/custom/capytale_activity/src/Activity/logo/logo_ocaml.svg",
    'help': "https://capytale2.ac-paris.fr/p/basthon/n/?id=330758&kernel=ocaml",
    'tooltip': "Le langage OCaml dans un notebook.<br /><i>Cliquez pour en savoir plus.</i>",
    'classes': (vars.userParam.is_ocaml_creator)? "star prepa" : "prepa",
    'onoff': (vars.userParam.is_ocaml_creator)? "fas yellow" : "far",
    } %}

    {% include '@capytale_ui/activity-template.html.twig' with param %}
    {# % set star = (vars.userParam.is_ocaml_creator)? "star" : "" % #}


    {# ------------- GEOGEBRA --------------- #}
    {% set param = {
    'act_name': "GeoGebra",
    'add_url': "activity?type=geogebra",
    'title': "GeoGebra",
    'tags': "",
    'logo': "modules/custom/capytale_activity/src/Activity/logo/logo_geogebra.svg",
    'help': "#",
    'tooltip': "Géométrie dynamique avec GeoGebra.<br /><i>Cliquez pour en savoir
      plus.</i>",
    'classes': (vars.userParam.is_geogebra_creator)? "star college lycee" : "college lycee",
    'onoff': (vars.userParam.is_geogebra_creator)? "fas yellow" : "far",
    } %}

    {% include '@capytale_ui/activity-template.html.twig' with param %}

    {# ------------- PYXELSTUDIO --------------- #}
    {% set param = {
    'act_name': "PyxelStudio",
    'add_url': "activity?type=pyxelstudio",
    'title': "PyxelStudio",
    'tags': "",
    'logo': "modules/custom/capytale_activity/src/Activity/logo/logo_pyxelstudio.svg",
    'help': "#",
    'tooltip': "À venir...",
    'classes': (vars.userParam.is_geogebra_creator)? "star college lycee" : "college lycee",
    'onoff': (vars.userParam.is_geogebra_creator)? "fas yellow" : "far",
    } %}

    {% include '@capytale_ui/activity-template.html.twig' with param %}


    {# ------------- MATHALEA --------------- #}
    {% set param = {
    'act_name': "MathALÉA",
    'add_url': "activity?type=mathalea",
    'title': "MathALÉA",
    'tags': "",
    'logo': "modules/custom/capytale_activity/src/Activity/logo/logo_mathalea.svg",
    'help': "#",
    'tooltip': "À venir...",
    'classes': (vars.userParam.is_geogebra_creator)? "star college lycee" : "college lycee",
    'onoff': (vars.userParam.is_geogebra_creator)? "fas yellow" : "far",
    } %}

    {% include '@capytale_ui/activity-template.html.twig' with param %}

    {# ------------- LOGIC ------------ #}
    {% set param = {
    'act_name': "logic",
    'add_url': "activity?type=logic",
    'title': "Électronique numérique (bêta)",
    'tags': "",
    'logo': "modules/custom/capytale_activity/src/Activity/logo/logo_logic.svg",
    'help': "https://capytale2.ac-paris.fr/wiki/doku.php?id=logic",
    'tooltip': "Créer des circuits avec portes logiques et composants électroniques numériques.<br /><i>Cliquez pour en
      savoir plus.</i>",
    'classes': (vars.userParam.is_logic_creator)? "star lycee" : "lycee",
    'onoff': (vars.userParam.is_logic_creator)? "fas yellow" : "far",
    } %}

    {% include '@capytale_ui/activity-template.html.twig' with param %}


{# #################################################################################### #}
{# #################################################################################### #}
{# #################################################################################### #}
    {# {% if vars.tester_vittascience %} #}

    {# ------------- Micro:bit --------------- #}
    {% set param = {
    'act_name': "lti.vs.microbit",
    'add_url': "activity?type=lti.vs.microbit",
    'title': "Micro:bit",
    'tags': "",
    'logo': "modules/custom/capytale_activity/src/Activity/logo/logo_microbit.svg",
    'help': "#",
    'tooltip': "Interface de programmation pour la carte BBC micro:bit",
    'classes': (vars.userParam.is_logic_creator)? "star vittascience" : "vittascience",
    'onoff': "far",
    } %}
    {% include '@capytale_ui/activity-template.html.twig' with param %}

    {# ------------- Bloc-Python --------------- #}
    {% set param = {
    'act_name': "lti.vs.blockpython",
    'add_url': "activity?type=lti.vs.python",
    'title': "Bloc-Python",
    'tags': "",
    'logo': "modules/custom/capytale_activity/src/Activity/logo/logo_blocpython.svg",
    'help': "#",
    'tooltip': "Interface de transition de la programmation par blocs vers Python",
    'classes': (vars.userParam.is_logic_creator)? "star vittascience" : "vittascience",
    'onoff': "far",
    } %}
    {% include '@capytale_ui/activity-template.html.twig' with param %}

    {# ------------- Bloc-Web --------------- #}
    {% set param = {
    'act_name': "lti.vs.web",
    'add_url': "activity?type=lti.vs.web",
    'title': "Bloc-Web",
    'tags': "",
    'logo': "modules/custom/capytale_activity/src/Activity/logo/logo_blocweb.svg",
    'help': "#",
    'tooltip': "Interface de transition de la programmation par blocs vers les langages du Web",
    'classes': (vars.userParam.is_logic_creator)? "star vittascience" : "vittascience",
    'onoff': "far",
    } %}
    {% include '@capytale_ui/activity-template.html.twig' with param %}

    {# ------------- Arduino --------------- #}
    {% set param = {
    'act_name': "lti.vs.arduino",
    'add_url': "activity?type=lti.vs.arduino",
    'title': "Arduino",
    'tags': "",
    'logo': "modules/custom/capytale_activity/src/Activity/logo/logo_arduino.svg",
    'help': "#",
    'tooltip': "Interface de programmation pour la carte Arduino",
    'classes': (vars.userParam.is_logic_creator)? "star vittascience" : "vittascience",
    'onoff': "far",
    } %}
    {% include '@capytale_ui/activity-template.html.twig' with param %}

    {# ------------- ESP 32 --------------- #}
    {% set param = {
    'act_name': "lti.vs.esp32",
    'add_url': "activity?type=lti.vs.esp32",
    'title': "ESP32",
    'tags': "",
    'logo': "modules/custom/capytale_activity/src/Activity/logo/logo_esp32.svg",
    'help': "#",
    'tooltip': "Interface de programmation pour la carte ESP32",
    'classes': (vars.userParam.is_logic_creator)? "star vittascience" : "vittascience",
    'onoff': "far",
    } %}
    {% include '@capytale_ui/activity-template.html.twig' with param %}

    {# ------------- mBot --------------- #}
    {% set param = {
    'act_name': "lti.vs.mbot",
    'add_url': "activity?type=lti.vs.mbot",
    'title': "mBot",
    'tags': "",
    'logo': "modules/custom/capytale_activity/src/Activity/logo/logo_mbot.svg",
    'help': "#",
    'tooltip': "Interface de programmation pour le robot mBot de Makeblock",
    'classes': (vars.userParam.is_logic_creator)? "star vittascience" : "vittascience",
    'onoff': "far",
    } %}
    {% include '@capytale_ui/activity-template.html.twig' with param %}

    {# ------------- pico --------------- #}
    {% set param = {
    'act_name': "lti.vs.pico",
    'add_url': "activity?type=lti.vs.pico",
    'title': "Raspberry Pi Pico",
    'tags': "",
    'logo': "modules/custom/capytale_activity/src/Activity/logo/logo_pipico.svg",
    'help': "#",
    'tooltip': "Interface de programmation pour la carte Raspberry Pi Pico",
    'classes': (vars.userParam.is_logic_creator)? "star vittascience" : "vittascience",
    'onoff': "far",
    } %}
    {% include '@capytale_ui/activity-template.html.twig' with param %}

    {# ------------- Buddy --------------- #}
    {% set param = {
    'act_name': "lti.vs.buddy",
    'add_url': "activity?type=lti.vs.buddy",
    'title': "Buddy",
    'tags': "",
    'logo': "modules/custom/capytale_activity/src/Activity/logo/logo_buddy.svg",
    'help': "#",
    'tooltip': "Interface de programmation pour le robot Buddy de Blue Frog Robotics",
    'classes': (vars.userParam.is_logic_creator)? "star vittascience" : "vittascience",
    'onoff': "far",
    } %}
    {% include '@capytale_ui/activity-template.html.twig' with param %}

    {# ------------- mBot2 et CyberPi --------------- #}
    {% set param = {
    'act_name': "lti.vs.cyberpi",
    'add_url': "activity?type=lti.vs.cyberpi",
    'title': "mBot2 et CyberPi",
    'tags': "",
    'logo': "modules/custom/capytale_activity/src/Activity/logo/logo_cyberpi.svg",
    'help': "#",
    'tooltip': "Interface de programmation pour la carte cyberPi et le robot mBot2 de Makeblock",
    'classes': (vars.userParam.is_logic_creator)? "star vittascience" : "vittascience",
    'onoff': "far",
    } %}
    {% include '@capytale_ui/activity-template.html.twig' with param %}

    {# ------------- Eliobot --------------- #}
    {% set param = {
    'act_name': "lti.vs.eliobot",
    'add_url': "activity?type=lti.vs.eliobot",
    'title': "Eliobot",
    'tags': "",
    'logo': "modules/custom/capytale_activity/src/Activity/logo/logo_eliobot.svg",
    'help': "#",
    'tooltip': "Interface de programmation pour le robot Eliobot",
    'classes': (vars.userParam.is_logic_creator)? "star vittascience" : "vittascience",
    'onoff': "far",
    } %}
    {% include '@capytale_ui/activity-template.html.twig' with param %}

    {# ------------- Galaxia --------------- #}
    {% set param = {
    'act_name': "lti.vs.galaxia",
    'add_url': "activity?type=lti.vs.galaxia",
    'title': "Galaxia",
    'tags': "",
    'logo': "modules/custom/capytale_activity/src/Activity/logo/logo_galaxia.svg",
    'help': "#",
    'tooltip': "Interface de programmation pour la carte Galaxia MicroPython",
    'classes': (vars.userParam.is_logic_creator)? "star vittascience" : "vittascience",
    'onoff': "far",
    } %}
    {% include '@capytale_ui/activity-template.html.twig' with param %}

    {# ------------- l476 --------------- #}
    {% set param = {
    'act_name': "lti.vs.l476",
    'add_url': "activity?type=lti.vs.l476",
    'title': "Nucleo-L476RG",
    'tags': "",
    'logo': "modules/custom/capytale_activity/src/Activity/logo/logo_l476.svg",
    'help': "#",
    'tooltip': "Interface de programmation pour la carte Nucleo-64 avec le microcontrôleur STM32L476RG",
    'classes': (vars.userParam.is_logic_creator)? "star vittascience" : "vittascience",
    'onoff': "far",
    } %}
    {% include '@capytale_ui/activity-template.html.twig' with param %}

    {# ------------- wb55 --------------- #}
    {% set param = {
    'act_name': "lti.vs.wb55",
    'add_url': "activity?type=lti.vs.wb55",
    'title': "Nucleo-WB55RG",
    'tags': "",
    'logo': "modules/custom/capytale_activity/src/Activity/logo/logo_wb55.svg",
    'help': "#",
    'tooltip': "Interface de programmation pour la carte Nucleo-64 avec le microcontrôleur STM32WB55",
    'classes': (vars.userParam.is_logic_creator)? "star vittascience" : "vittascience",
    'onoff': "far",
    } %}
    {% include '@capytale_ui/activity-template.html.twig' with param %}

    {# ------------- m5stack --------------- #}
    {% set param = {
    'act_name': "lti.vs.m5stack",
    'add_url': "activity?type=lti.vs.m5stack",
    'title': "M5Stack",
    'tags': "",
    'logo': "modules/custom/capytale_activity/src/Activity/logo/logo_m5stack.svg",
    'help': "#",
    'tooltip': "Interface de programmation pour la carte M5Stack",
    'classes': (vars.userParam.is_logic_creator)? "star vittascience" : "vittascience",
    'onoff': "far",
    } %}
    {% include '@capytale_ui/activity-template.html.twig' with param %}

    {# ------------- Thymio --------------- #}
    {% set param = {
    'act_name': "lti.vs.thymio",
    'add_url': "activity?type=lti.vs.thymio",
    'title': "Thymio",
    'tags': "",
    'logo': "modules/custom/capytale_activity/src/Activity/logo/logo_thymio.svg",
    'help': "#",
    'tooltip': "Interface de programmation pour le robot Thymio",
    'classes': (vars.userParam.is_logic_creator)? "star vittascience" : "vittascience",
    'onoff': "far",
    } %}
    {% include '@capytale_ui/activity-template.html.twig' with param %}

{# #################################################################################### #}
{# #################################################################################### #}
{# #################################################################################### #}




    {# ------------- LINUX --------------- #}
    {% if false and vars.tester %}
    {% set param = {
    'act_name': "linux",
    'add_url': "activity?type=linux",
    'title': "Console Linux",
    'tags': "",
    'logo': "modules/custom/capytale_activity/src/Activity/logo/logo_linux.svg",
    'help': "#",
    'tooltip': "Une console Linux pour découvrir les commandes shell.<br /><i>Cliquez pour en savoir
      plus.</i>",
    'classes': (vars.userParam.is_linux_creator)? "star lycee" : "lycee",
    'onoff': (vars.userParam.is_linux_creator)? "fas yellow" : "far",
    } %}

    {% include '@capytale_ui/activity-template.html.twig' with param %}
    {% endif %}





  </div>
</div>
<script>
  capytale.init();
</script>
