{# Charger la bonne config datatables #}
{{ attach_library('capytale_ui/assignments') }}

{% set icon = {
'SHY': '',
'SHN': '<i class="fas fa-lock red"></i>',
'CRY': '<i class="fas fa-clock green"></i>',
'CRN': '<i class="fas fa-clock red"></i>',
'LRY': '<span class="fa-layers fa-fw">
  <i class="fas fa-clock green"></i>
  <i class="fas fa-lock green" data-fa-transform="shrink-4 down-4.2 right-10"></i></span>',
'LRN': '<span class="fa-layers fa-fw">
  <i class="fas fa-clock red"></i>
  <i class="fas fa-lock red" data-fa-transform="shrink-4 down-4.2 right-10"></i></span>',
} %}

<!--
    {{ vars.status_clonable }}
    {{ vars.access_tr_mode }}
    du {{ vars.dt_deb |date("d/m/y à H:i") }}
    au {{ vars.dt_fin |date("d/m/y à H:i") }}
-->

{% if vars.status_clonable == 0 %}
  {% set STATUS = "SHN" %}
  {% set PENCOLOR = "gray" %}
  {% set ENVELOPECOLOR = "gray" %}
  {% set CORRCOLOR = "gray" %}
{% else %}
  {% if vars.access_tr_mode == "complete" %}
    {% if vars.is_in_time_range %}
      {% set STATUS = "CRY" %}
      {% set PENCOLOR = "blue" %}
      {% set ENVELOPECOLOR = "orange" %}
      {% set CORRCOLOR = "green" %}
    {% else %}
      {% set STATUS = "CRN" %}
      {% set PENCOLOR = "gray" %}
      {% set ENVELOPECOLOR = "orange" %}
      {% set CORRCOLOR = "green" %}
    {% endif %}
  {% elseif vars.access_tr_mode == "lock" %}
    {% if vars.is_in_time_range %}
      {% set STATUS = "LRY" %}
      {% set PENCOLOR = "blue" %}
      {% set ENVELOPECOLOR = "orange" %}
      {% set CORRCOLOR = "green" %}
    {% else %}
      {% set STATUS = "LRN" %}
      {% set PENCOLOR = "gray" %}
      {% set ENVELOPECOLOR = "gray" %}
      {% set CORRCOLOR = "gray" %}
    {% endif %}
  {% else %}
    {% set STATUS = "SHY" %}
    {% set PENCOLOR = "blue" %}
    {% set ENVELOPECOLOR = "orange" %}
    {% set CORRCOLOR = "green" %}
  {% endif %}
{% endif %}


<h2>
  <img src="{{vars.icon}}" width="32px" />
  {{ vars.title }}
</h2>


<form id="form" method="post">
  <input type="hidden" name="csrf_tk" value="{{ vars.csrf_tk }}">
  <!--
  <div style="text-align:left; padding-bottom:1em;">
    <button type="submit" name="action" value="ro">Verrouiller</button>
    <button type="submit" name="action" value="rw">Déverrouiller</button>
  </div>
    -->
  <a href="/wiki/doku.php?id=le_cycle_de_vie_d_une_copie"><i class="fas fa-info-circle"
      title="En savoir plus sur les états"></i></a>
  &nbsp;
  <select name="workflow" id="workflow">
    <option value="">-- Choisir un état --</option>
    <option value="100">En cours (Modifiable par l'élève. Non corrigé)</option>
    <option value="200">Rendu (Non modifiable par l'élève. Non corrigé)</option>
    <option value="300">Corrigé (Non modifiable par l'élève. Corrigé) </option>
    <option value="add-tag">Masquer </option>
    <option value="del-tag">Visible </option>
  </select>
  <button type="submit" name="action" value="change_workflow">Appliquer à la sélection</button>

  <p>
    <br />
    {#<a href="https://capytale2.ac-paris.fr/wiki/doku.php?id=afficher-masquer"><i class="fas fa-info-circle"></i></a>#}
    <a href="https://capytale2.ac-paris.fr/wiki/doku.php?id=afficher-masquer"><i class="fas fa-info-circle"></i></a>
    &nbsp;
    Afficher :
    <span id="tagHidden" class="tag_search" data-tag="tag-hidden">Masqués <i class="far fa-eye-slash small"></i></span>
    <span id="tagVisible" class="tag_search" data-tag="tag-visible">Visibles <i class="far fa-eye small"></i></span>
    <span id="tagAll" class="tag_search" title="Voir tout" data-tag="tag">Tout</span>
  </p>

  <table id="mytable" class="display" style="width:100%">
    <thead>
      <tr>
        <th><input type="checkbox" name="select-all" id="select-all" />
        <th>Dernière modif.</th>
        <th></th>
        <th>Nom</th>
        <th>Classe</th>
        <th>Mode / État</th>
        <th>Appréciation</th>
        <th>Évaluation</th>
      </tr>
    </thead>
    <tbody>
      {% for v in vars.tab %}
      <tr>
        <td> <input type="checkbox" name="nids[]" value="{{ v.sa_nid }}"></td>
        <td>
          <span class="hidden">{{ v.changed }}</span>
          {{ v.changed |date("d/m/y à H:i") }}
        </td>
        <td>
          {% if v.hidden %}
          </button>
          <div class="tag">
            <span class="hidden">tag-hidden</span>
            <span class="tagicon"><i class="far fa-eye-slash small"></i></span>
            <button type="submit" class="deltag naked_button" name="action-tag" value="deltag-{{v.sa_nid}}"
              data-bs-toggle="tooltip" data-bs-placement="left" title="Rendre visible">
              <i class="far fa-eye small"></i>
              {% else %}
              <span class="hidden">tag-visible</span>
              <div class="tag">
                <span class="tagicon"><i class="far fa-eye small"></i></span>
                <button type="submit" class="deltag naked_button" name="action-tag" value="addtag-{{v.sa_nid}}"
                  data-bs-toggle="tooltip" data-bs-placement="left" title="Masquer">
                  <i class="far fa-eye-slash small"></i>
                  {% endif %}
                </button>
              </div>
        </td>
        <td>
          <a href="{{ v.player }}"> {{ v.nom | upper }} {{ v.prenom }} </a>
        </td>
        <td> {{ v.classe }} </td>
        <td> {{ icon[STATUS]|raw }}
          {% if v.workflow==100 %}
          <span class="hidden">En cours</span>
          <i class="fas fa-pen {{PENCOLOR}}" data-bs-toggle="tooltip" title="En cours"></i>
          {% elseif v.workflow==200 %}
          <span class="hidden">Rendu</span>
          <i class="far fa-envelope {{ENVELOPECOLOR}}" data-bs-toggle="tooltip" title="Rendu"></i>
          {% elseif v.workflow==300 %}
          <span class="hidden">Corrigé</span>
          <i class="fas fa-tasks {{CORRCOLOR}} fa-lg" data-bs-toggle="tooltip" title="Corrige"></i>
          {% else %} ?
          {% endif %}
        </td>
        <!-- TODO : mettre en conformité avec le php  -->
        <td class="valign"><textarea data-nid={{ v.sa_nid }} class="ap_ch" data-toggle="tooltip" data-placement="top" title="Cliquer pour modifier. Quitter pour enregistrer.">{{ v.appreciation }}</textarea></td>
        <td class="valign"><textarea data-nid={{ v.sa_nid }} class="ev_ch" data-toggle="tooltip" data-placement="top" title="Cliquer pour modifier. Quitter pour enregistrer.">{{ v.evaluation }}</textarea></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</form>
