<a href="/f/detailed-evaluation/{{ nid }}" target="_blank">Ouvrir dans une nouvelle page</a>

<iframe
  id="inlineFrameExample"
  title="Inline Frame Example"
  width="100%"
  height="100%"
  src="/f/detailed-evaluation/{{ nid }}">
</iframe>
