<div class="container">
  <div class="row">
    <div class="col">
      <div class="alert alert-secondary top-box" role="alert">
        <div>
        <h3>
          Accéder à une activité
        </h3>
          {{ form }}
        </div>
      </div>
    </div>
    <div class="col">
      <div class="alert alert-secondary top-box" role="alert">
        <h3>
          <a class="use-ajax" style="text-decoration:none;"
            data-dialog-options="{&quot;width&quot;:800, &quot;title&quot;:&quot;Créer une nouvelle activité&quot;}"
            data-dialog-type="modal" href="activities">
            <span style="color:#41464b">Créer une nouvelle activité</span>
            <div class="center_plus">
            <i class="fas fa-plus-circle"></i>
            </div>
          </a>
        </h3>
      </div>
    </div>
    <div class="col-1">
      <div class="alert alert-secondary top-box" role="alert">
        <h3>
          <a class="use-ajax" style="text-decoration:none;"
            data-dialog-options="{&quot;width&quot;:800, &quot;title&quot;:&quot;Applications en accès libre (pas encore d'échange possible via Capytale)&quot;}"
            data-dialog-type="modal" href="tryit">
            <i class="fas fa-bolt" style="color:fuchsia;"></i>
          </a>
        </h3>
      </div>
    </div>
  </div>
</div>
