{#
/**
* @file @capytale_ui/my.html.twig
* Template for the My page.
*
* Available variables:
* - vars: array
*     [
*       'csrf_tk' => string: the CSRF token
*       'roles' => array: the user roles
*       'mode' => string indicating the mode of the page ('teacher' or 'student')
*     ]
*
*/
#}
<div>
  <div style="padding-bottom: 15px; display: flex; flex-direction: row; justify-content: space-between;">
    <div>
      <span id="hamburger" class="openbtn" onclick="toggleNav()">
        <i class="fas fa-bars"></i></span><span id="hamburgernotif" class="hamnotif" style="display:none;">●</span> Mes
      étiquettes
      &nbsp;
      <span id="active-filter"></span>
      &nbsp;
      &nbsp;

      <div class="d-flex flex-row-reverse bd-highlight">
        <span id="toastbtn" class="text-end hotInfoTag"><i class="fas fa-info-circle"></i></span>
      </div>
      <div id="liveToast" class="toast position-absolute top-2 start-2 newMyToast" role="alert" aria-live="assertive"
        aria-atomic="true" style="z-index: 100">
        <div class="toast-header red">
          <i class="fas fa-info-circle"></i>&nbsp;
          <strong class="me-auto">Des évolutions</strong>
          <small class="text-muted">06/12/2022</small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body newMyToastBody">
          <p>
            À votre demande, les étiquettes ont évolué :
          <ul>
            <li> ✅ La visibilité du panneau des étiquettes est persistante au cours de votre navigation sur le site.
            </li>
            <li> ✅ Le filtrage sur une étiquette est lui aussi persistant.</li>
            <li> ✅ La <a href="https://capytale2.ac-paris.fr/wiki/doku.php?id=Etiquettes">documentation</a> s'est
              enrichie et montre bien comment organiser les étiquettes de manière arborescente, comme des dossiers.</li>
          </ul>
          </p>
          <p>
            Merci de signaler vos retours sur ces évolutions sur la
            <a href="https://groupes.renater.fr/sympa/subscribe/capytale">liste de discussion</a>.
          <p>
          <p>L'équipe Capytale</p>
        </div>
      </div>
      <script>
        document.getElementById("toastbtn").onclick = function () {
          var myAlert = document.getElementById('liveToast');//select id of toast
          var bsAlert = new bootstrap.Toast(myAlert);//inizialize it
          bsAlert.show();//show it
        };
      </script>
    </div>
    <div>

      <span class="buttonChange">

        <button class="whereIam_search" value="Iam-cr">
          <img src="{{ file_url('modules/custom/capytale_ui/assets/owner-color.svg') }}" width="16px">
          Je suis créateur
          <span class="red_cross"><i class="far fa-times-circle red small"></i></span>
        </button>
        <button class="whereIam_search" value="Iam-ap">
          <img src="{{ file_url('modules/custom/capytale_ui/assets/student-color.svg') }}" width="16px">
          Je suis apprenant
          <span class="red_cross"><i class="far fa-times-circle red small"></i></span>
        </button>
        <button class="whereIam_search" value="Iam-as">
          <img src="{{ file_url('modules/custom/capytale_ui/assets/associate-color.svg') }}" width="16px">
          Je suis associé
          <span class="red_cross"><i class="far fa-times-circle red small"></i></span>
        </button>
      </span>
    </div>
  </div>
</div>

<form id="form" method="post" action="/web/my/bulk">
  <input type="hidden" name="csrf_tk" value="{{ vars.csrf_tk }}">

  <div class="text-center mt-5 fs-5" id="my-content-spinner">Chargement en cours <i class="fas fa-spinner fa-spin"></i></div>
  <div id="my-content" class="cols-container" style="display: none;">
    <div id="colA" class="colA" style="display:none;">
      <div class="container">
        <div class="row">
          {{ drupal_block('etiquettes_tree_block') }}
        </div>
      </div>
    </div>
    <div id="colB" class="colB colB-deployed">
      {% include '@capytale_ui/parts/menu-actions.html.twig' %}
      {% include '@capytale_ui/parts/activity-list.html.twig' with {mode: vars.mode} %}
    </div>
  </div>
</form>