{{ attach_library('capytale_ui/qrcodejs') }}

<div style="display:flex; justify-content:center; align-items:center">
  <div id="qrcode"></div>
</div>

<script type="text/javascript">
  new QRCode(document.getElementById("qrcode"), {
    text: window.location.protocol + '//' + window.location.host + "/web/c/{{ vars.code }}",
    width: 500,
    height: 500,
  });
</script>
