<div class="alert alert-warning" role="alert">
	Les applications listées ici ne sont pas complètement intégrées dans Capytale :
	  elles ne permettent pas de sauvegarder, de partager ou de diffuser des contenus.<br/>
	Elles sont proposées en test pour vous permettre de nous faire des retours sur leur intérêt pédagogique.
</div>

<div
	class="row">
	{# ------------- PIXELUDO --------------- #}
	{% set param = {
  'act_name': "pixeludo",
  'app_url': "/p/pixeludo",
  'title': "Déplacements relatifs",
  'tags': "",
  'logo': "modules/custom/capytale_activity/src/Activity/logo/logo_pixeludo.svg",
  'help': "https://capytale2.ac-paris.fr/wiki/doku.php?id=pixeludo",
  'tooltip': "Jeu 8bits sur les déplacements relatifs. <i>Cliquez pour en savoir plus.</i>",
  'classes': (vars.userParam.is_pixeludo_creator)? "star college" : "college",
  'onoff': (vars.userParam.is_pixeludo_creator)? "fas yellow" : "far",
  } %}

	{% include '@capytale_ui/tryit-app.html.twig' with param %}

	{# ------------- LOGIC --------------- #}
	{% set param = {
  'act_name': "logic",
  'app_url': "/p/logic",
  'title': "Électronique numérique",
  'tags': "",
  'logo': "modules/custom/capytale_activity/src/Activity/logo/logo_logic.svg",
  'help': "https://capytale2.ac-paris.fr/wiki/doku.php?id=logic",
  'tooltip': "Électronique numérique. <i>Cliquez pour en savoir plus.</i>",
  'classes': (vars.userParam.is_pixel_creator)? "star college" : "college",
  'onoff': (vars.userParam.is_pixel_creator)? "fas yellow" : "far",
  } %}

	{% include '@capytale_ui/tryit-app.html.twig' with param %}

	{# ------------- BASH --------------- #}
	{% set param = {
  'act_name': "bash",
  'app_url': "/p/v86/",
  'title': "Console Linux",
  'tags': "",
  'logo': "modules/custom/capytale_activity/src/Activity/logo/logo_linux.svg",
  'help': "https://capytale2.ac-paris.fr/wiki/doku.php?id=bash",
  'tooltip': "Console Bash sous Linux. <i>Cliquez pour en savoir plus.</i>",
  'classes': (vars.userParam.is_pixel_creator)? "star college" : "college",
  'onoff': (vars.userParam.is_pixel_creator)? "fas yellow" : "far",
  } %}

	{% include '@capytale_ui/tryit-app.html.twig' with param %}


	{% set param = {
  'act_name': "geogebra",
  'app_url': "/p/geogebra_OLD/HTML5/5.0/GeoGebra.html",
  'title': "GeoGebra",
  'tags': "",
  'logo': "modules/custom/capytale_activity/src/Activity/logo/logo_geogebra.svg",
  'help': "https://capytale2.ac-paris.fr/wiki/doku.php?id=geogebra",
  'tooltip': "GeoGebra. <i>Cliquez pour en savoir plus.</i>",
  'classes': (vars.userParam.is_pixel_creator)? "star college" : "college",
  'onoff': (vars.userParam.is_pixel_creator)? "fas yellow" : "far",
  } %}

	{# ------------- GEOGEBRA --------------- #}
	<div id="GGB" class="col activity_sq">
		<p class="text-center">
			<img alt="pixel" class="fit-picture" src="modules/custom/capytale_activity/src/Activity/logo/logo_geogebra.svg" width="100px"/>
		</p>
		<p class="text-center">
			GeoGebra
		</p>
		<p class="text-center">Désormais, parmi les
			<a class="use-ajax" style="text-decoration:none;" data-dialog-options="{&quot;width&quot;:800, &quot;title&quot;:&quot;Créer une nouvelle activité&quot;}" data-dialog-type="modal" href="activities">
				autres activités</a>.
		</p>
	</div>
</div>
