<div class="container-fluid">
<div class="row">
   {% for act in list %}
   <div class="col-sm-3 p-3">
   <a href="{{ act.link }}">
   <div class="border rounded p-3">
   <div style="position:relative; padding-bottom:105%;">
   <img src="{{ act.icon }}" class="img-fluid" style="position:absolute;" />
   </div>
   <p>{{ act.name }}</p>
   </div>
   </a>
   </div>
   {% endfor %}
</div>
</div>