{#
/**
* @file @capytale_ui/parts/activity-list.html.twig
* Template for the My page.
*
* Available variables:
* - mode: string indicating the mode of the page ('teacher' or 'student')
*
*/
#}
<!-- Mode: {{ mode }} -->
<table id="mytable" class="display" style="width:100%">
  <thead>
    <tr>
      <th><input type="checkbox" name="select-all" id="select-all" /></th>
      <th> Type </th>
      <th> Titre </th>
      <th> {{ mode == 'teacher' ? 'Nb vues' : 'Évaluation Appréciation' }} </th>
      <th> Dernier accès </th>
      <th> Partage </th>
      {% if mode == 'teacher' %}
      <th> Bib. </th>
      {% endif %}
      <th> Étiquettes </th>
      <th></th>
    </tr>
  </thead>
</table>