<div style="height:10px;"></div>

<div class="container">
  <div class="row row-cols-auto">
    <div class="col-">
      <span class="check" style="display:none">Pour la sélection :&nbsp </span>
    </div>
    <div class="col-">
      <button style="display:none;" class="btn btn-info oneCheck" type="submit" name="action" value="param">
        <i class="fas fa-cog"></i>
        Paramètres
      </button>

    </div>
    <div class="col-">
      <button style="display:none;" class="btn btn-danger check" type="submit" name="action" value="delete"
        onclick="return confirm('Vous vous apprêtez à supprimer DÉFINITIVEMENT le(s) élément(s) sélectionné(s). Confirmez-vous avec certitude ?')">
        <i class="fas fa-window-close"></i>
        Supprimer
      </button>
    </div>
    <div id="col-etiqueter" class="col-">
      {{ drupal_block('etiquetage_tree_block') }}
    </div>
    <div id="col-download" class="col-">
      <button style="display:none;" class="btn btn-info check" type="button">
        <i class="fas fa-download"></i>
        Télécharger
      </button>
    </div>

    <div id="col-download" class="col-">
      <button style="display:none;" class="btn btn-info check" type="submit" name="action" value="csv">
        <i class="fas fa-file-csv"></i>
        CSV
      </button>
    </div>

  </div>
</div>
