{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}

{#{% for key,value in form.field_attached_files.widget %}#}
{#Key : {{ key }} Value : {{ value }}#}
{#{% endfor %}#}




<div class="row">
  <div class="col">
    {{ form.title }}
    {% if form.bib_metadata_link %}
    <div class="bloc-bib-edit"> <i class="fa fa-share-alt"></i>&nbsp;&nbsp; {{ form.bib_metadata_link }}</div>
    {% endif %}
  </div>
  <div class="col col-lg-2">
    {{ form.field_etiquettes }}
  </div>
</div>


{% if form.field_status_clonable['#access'] %}
<div class="card">
  <div class="card-header clone">
    {{ form.field_status_clonable }}
  </div>
  <div class="card-body js-form-wrapper"
    data-drupal-states="{&quot;visible&quot;:{&quot;:input[id=edit-field-status-clonable-value]&quot;:{&quot;checked&quot;:true}}}">

      {% if form.field_anti_cheat['#access'] %}
    {{ form.field_anti_cheat }}
      {% else %}
        {# Mode anti-triche bientôt disponible. #}
      {% endif %}


    <div class="row">
      <div class="col-5">
        {{ form.field_access_tr_mode }}
      </div>
      <div
        class="col-7 field--type-daterange field--name-field-access-timerange field--widget-daterange-default js-form-wrapper form-wrapper"
        data-drupal-selector="edit-field-access-timerange-wrapper"
        data-drupal-states="{&quot;visible&quot;:{&quot;:input[name=field_access_tr_mode]&quot;:[{&quot;value&quot;:&quot;none&quot;}]}}"
        id="edit-field-access-timerange-wrapper2" style="">
        <p><br /></p>
        <img width="100%" src="{{ file_url('modules/custom/capytale_activity/assets/timerange01.svg') }}">
      </div>
      <div
        class="col-7 field--type-daterange field--name-field-access-timerange field--widget-daterange-default js-form-wrapper form-wrapper"
        data-drupal-selector="edit-field-access-timerange-wrapper"
        data-drupal-states="{&quot;visible&quot;:{&quot;:input[name=field_access_tr_mode]&quot;:[{&quot;value&quot;:&quot;complete&quot;}]}}"
        id="edit-field-access-timerange-wrapper2" style="">
        <p><br /></p>
        <img width="100%" src="{{ file_url('modules/custom/capytale_activity/assets/timerange02.svg') }}">
      </div>
      <div
        class="col-7 field--type-daterange field--name-field-access-timerange field--widget-daterange-default js-form-wrapper form-wrapper"
        data-drupal-selector="edit-field-access-timerange-wrapper"
        data-drupal-states="{&quot;visible&quot;:{&quot;:input[name=field_access_tr_mode]&quot;:[{&quot;value&quot;:&quot;lock&quot;}]}}"
        id="edit-field-access-timerange-wrapper2" style="">
        <p><br /></p>
        <img width="100%" src="{{ file_url('modules/custom/capytale_activity/assets/timerange03.svg') }}">
      </div>
    </div>
    <div
      class="field--type-daterange field--name-field-access-timerange field--widget-daterange-default form-group js-form-wrapper form-wrapper"
      data-drupal-selector="edit-field-access-timerange-wrapper"
      data-drupal-states="{&quot;visible&quot;:{&quot;:input[name=field_access_tr_mode]&quot;:[{&quot;value&quot;:&quot;lock&quot;},&quot;or&quot;,{&quot;value&quot;:&quot;complete&quot;}]}}"
      id="edit-field-access-timerange-wrapper" style="">
      <div class="row">
        <div class="offset-5 col-3">
          <div
            class="form-inline form-item js-form-item form-type-date js-form-type-date form-item-field-access-timerange-0-value-time js-form-item-field-access-timerange-0-value-time form-no-label form-group">
            {{form.field_access_timerange.widget['0'].value.date }}
            {{form.field_access_timerange.widget['0'].value.time }}
          </div>
        </div>
        <div class="col-3">
          <div
            class="form-inline form-item js-form-item form-type-date js-form-type-date form-item-field-access-timerange-0-value-time js-form-item-field-access-timerange-0-value-time form-no-label form-group">
            {{form.field_access_timerange.widget['0'].end_value.date }}
            {{form.field_access_timerange.widget['0'].end_value.time }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if form.field_attached_files['#access'] %}
<div class="card">
  <div class="card-header want">
    {{ form.wantfiles }}
  </div>
  <div class="card-body">
    {{ form.field_attached_files }}
  </div>
</div>
{% endif %}

<div class="card">
  <div class="card-header assoc">
    {{ form.assoc }}
  {% if form['#associates'] %}
    <details>
      <summary> Déjà associés </summary>
      <ul>
        {% for associate_id,associate_name in form['#associates'] %}
          <li> 👤 {{associate_name }} [{{associate_id}}]</li>
        {% endfor %}
    </ul>
    </details>
  {% endif %}
  </div>
  <div class="card-body">
    {{ form.field_associates }}
  </div>
</div>
{% if form.c_act_options %}
<details open class="param_supp">
  <summary>
    Paramètres supplémentaires
  </summary>
  <p>
    {{ form.c_act_options }}
  </p>
</details>
{% endif %}

{{ form.actions }}
