<button type="button" onclick="toggleEtiquettes()" style="display:none" class="btn btn-info check">
 <i class="fas fa-tags"></i>  Étiqueter
</button>

<span id="etiqueter" style="display:none;">
{% for k, term in terms %}
  <span id="rectangle" style="width:{{20*term.depth}}px; display: inline-block"></span>

  <button class="naked" type="submit" name="action" value="etiquette_add-{{ term.tid }}">
    {% if "Corbeille" in term.name %}
      <i class="fas fa-trash-alt small"></i>
    {% else %}
      <i class="fas fa-tag small" style="color:{{ colors[term.tid] }}"></i>
    {% endif %}
    {{ term.name }}
  </button><br/>
{% endfor %}
</span>


