<a href="admin/structure/taxonomy/manage/private_tags/overview" class="nodeco">
  <i class="fas fa-cog small" style="color:#999"></i>
  <span style="color:#999">Gérer mes étiquettes</span>
</a>
<br/>
<span id="titreTagContainer" class="tag_search roundedSquare" title="Voir tout" data-tagtitle="displaywithnofilter" data-tag="^((?!Corbeille).)*$">
    <i class="fas fa-tags small"></i> Tout
</span><br/>

{% for k, term in terms %}
  <span id="rectangle" style="width:{{20*term.depth}}px; display: inline-block"></span>

  <span class="tag_search" title="Restreindre à cette étiquette" data-tagtitle="{{ term.name }}" data-tag="{{ term.tid }}">
    {% if "Corbeille" in term.name %}
      <i class="fas fa-trash-alt small"></i>
    {% else %}
      <i class="fas fa-tag small" style="color:{{ colors[term.tid] }}"></i>
    {% endif %}
    {{ term.name }}
  </span><br/>
{% endfor %}
