{#
    /**
     * @file
     * Default theme override for comment fields.
     *
     * Available variables:
     * - attributes: HTML attributes for the containing element.
     * - label_hidden: Whether to show the field label or not.
     * - title_attributes: HTML attributes for the title.
     * - label: The label for the field.
     * - title_prefix: Additional output populated by modules, intended to be
     *   displayed in front of the main title tag that appears in the template.
     * - title_suffix: Additional title output populated by modules, intended to
     *   be displayed after the main title tag that appears in the template.
     * - comments: List of comments rendered through comment.html.twig.
     * - content_attributes: HTML attributes for the form title.
     * - comment_form: The 'Add new comment' form.
     * - comment_display_mode: Is the comments are threaded.
     * - comment_type: The comment type bundle ID for the comment field.
     * - entity_type: The entity type to which the field belongs.
     * - field_name: The name of the field.
     * - field_type: The type of the field.
     * - label_display: The display settings for the label.
     *
     * @see template_preprocess_field()
     * @see comment_preprocess_field()
     */
    #}
<section{{attributes}}>
	{% if comments and not label_hidden %}
		{{ title_prefix }}
		<h3{{title_attributes}}>{{ label }}</h3>
		{{ title_suffix }}
	{% endif %}

	{{ comments }}

	{% if comment_form %}
		<h3{{content_attributes}}>{{ 'Add new comment'|t }}</h3>
		{{ comment_form }}
	{% endif %}

	<div id="js-criteria">
		<div id="wrapper">
			<span id="total" class="totaxxl"></span>
			<span id="critlabel" class="labelxx"></span>
		</div>

		<div id="titles">
			<div class="rating" title="L’activité n’est pas un simple clone." data-toggle="tooltip" data-placement="top">
				<i class="fas fa-balance-scale"></i>
				Éthique</div>
			<div class="rating" title="Les consignes pour le public cible (élève, enseignant) sont claires." data-toggle="tooltip" data-placement="top">
				<i class="fas fa-glasses"></i>
				Clarté</div>
			<div class="rating" title="Un vrai travail de fond a été réalisé sur l’activité, y compris sur un thème simple. L’activité permet aux autres utilisateurs de gagner du temps, ou elle apporte des idées intéressantes pour traiter un thème." data-toggle="tooltip" data-placement="top">
				<i class="far fa-lightbulb"></i>
				Fond</div>
			<div class="rating" title="L’activité est utilisable en l’état ou presque." data-toggle="tooltip" data-placement="top">
				<i class="fas fa-recycle"></i>
				Utilisabilité</div>
			<div class="rating" title="Il y a adéquation entre le titre, les objectifs annoncés dans le descriptif de l’activité et le contenu de l’activité." data-toggle="tooltip" data-placement="top">
				<i class="fas fa-bullseye"></i>
				Pertinence</div>
			<div class="rating" title="L’orthographe, la grammaire et la typographie sont de bonne qualité." data-toggle="tooltip" data-placement="top">
				<i class="fas fa-spell-check"></i>
				Apparence</div>
			<div class="total"></div>
			<div class="label"></div>
		</div>


		<div id="ratings">
			<div id="rating0" class="rating">
				<span class="rating__star" data-target="edit-field-criteria-0-eth" data-val="-1000" title="-1000 pts" data-toggle="tooltip" data-placement="top">
					<i class="fas fa-times"></i>
				</span>
				<span class="rating__star default" data-target="edit-field-criteria-0-eth" data-val="1" title="1 pt" data-toggle="tooltip" data-placement="top">
					<i class="fas fa-check"></i>
				</span>
			</div>

			<div id="rating5" class="rating">
				<span class="rating__star" data-target="edit-field-criteria-0-clr" data-val="-2" title="-2 pts" data-toggle="tooltip" data-placement="top">
					<i class="fas fa-times"></i>
				</span>
				<span class="rating__star default" data-target="edit-field-criteria-0-clr" data-val="0" title="0 pt" data-toggle="tooltip" data-placement="top">
					<i class="fas fa-minus fa-xs"></i>
				</span>
				<span class="rating__star" data-target="edit-field-criteria-0-clr" data-val="1" title="1 pt" data-toggle="tooltip" data-placement="top">
					<i class="fas fa-check"></i>
				</span>
				<span class="rating__star" data-target="edit-field-criteria-0-clr" data-val="2" title="2 pts" data-toggle="tooltip" data-placement="top">
					<i class="far fa-heart"></i>
				</span>
			</div>

			<div id="rating1" class="rating">
				<span class="rating__star" data-target="edit-field-criteria-0-fon" data-val="-2" title="-2 pts" data-toggle="tooltip" data-placement="top">
					<i class="fas fa-times"></i>
				</span>
				<span class="rating__star default" data-target="edit-field-criteria-0-fon" data-val="0" title="0 pt" data-toggle="tooltip" data-placement="top">
					<i class="fas fa-minus fa-xs"></i>
				</span>
				<span class="rating__star" data-target="edit-field-criteria-0-fon" data-val="1" title="1 pt" data-toggle="tooltip" data-placement="top">
					<i class="fas fa-check"></i>
				</span>
				<span class="rating__star" data-target="edit-field-criteria-0-fon" data-val="2" title="2 pts" data-toggle="tooltip" data-placement="top">
					<i class="far fa-heart"></i>
				</span>
			</div>

			<div id="rating2" class="rating">
				<span class="rating__star" data-target="edit-field-criteria-0-uti" data-val="-2" title="-2 pts" data-toggle="tooltip" data-placement="top">
					<i class="fas fa-times"></i>
				</span>
				<span class="rating__star default" data-target="edit-field-criteria-0-uti" data-val="0" title="0 pt" data-toggle="tooltip" data-placement="top">
					<i class="fas fa-minus fa-xs"></i>
				</span>
				<span class="rating__star" data-target="edit-field-criteria-0-uti" data-val="1" title="1 pt" data-toggle="tooltip" data-placement="top">
					<i class="fas fa-check"></i>
				</span>
				<span class="rating__star" data-target="edit-field-criteria-0-uti" data-val="2" title="2 pts" data-toggle="tooltip" data-placement="top">
					<i class="far fa-heart"></i>
				</span>
			</div>

			<div id="rating3" class="rating">
				<span class="rating__star" data-target="edit-field-criteria-0-per" data-val="-2" title="-2 pts" data-toggle="tooltip" data-placement="top">
					<i class="fas fa-times"></i>
				</span>
				<span class="rating__star default" data-target="edit-field-criteria-0-per" data-val="0" title="0 pt" data-toggle="tooltip" data-placement="top">
					<i class="fas fa-minus fa-xs"></i>
				</span>
				<span class="rating__star" data-target="edit-field-criteria-0-per" data-val="1" title="1 pt" data-toggle="tooltip" data-placement="top">
					<i class="fas fa-check"></i>
				</span>
				<span class="rating__star" data-target="edit-field-criteria-0-per" data-val="2" title="2 pts" data-toggle="tooltip" data-placement="top">
					<i class="far fa-heart"></i>
				</span>
			</div>

			<div id="rating4" class="rating">
				<span class="rating__star" data-target="edit-field-criteria-0-app" data-val="-2" title="-2 pts" data-toggle="tooltip" data-placement="top">
					<i class="fas fa-times"></i>
				</span>
				<span class="rating__star default" data-target="edit-field-criteria-0-app" data-val="0" title="0 pt" data-toggle="tooltip" data-placement="top">
					<i class="fas fa-minus fa-xs"></i>
				</span>
				<span class="rating__star" data-target="edit-field-criteria-0-app" data-val="1" title="1 pt" data-toggle="tooltip" data-placement="top">
					<i class="fas fa-check"></i>
				</span>
				<span class="rating__star" data-target="edit-field-criteria-0-app" data-val="2" title="2 pts" data-toggle="tooltip" data-placement="top">
					<i class="far fa-heart"></i>
				</span>
			</div>

		</div>

	</div>
