<!--
{% for k, v in form %}
{{k}} -
{% endfor %}
-->


<div class="container text-center">
  <div class="row">
    <div class="col">
      {{form.title}}
      {{ form.field_activity_type_value }}
    </div>
    <div class="col">
      {{ form.field_abstract_value }}
    </div>
    <div class="col">
      {{ form.field_niveau_value }}
      {{ form.field_theme_target_id }}
    </div>
    <div class="col">
      {{ form.field_enseignement_value }}
      {{ form.field_modules_target_id }}
    </div>
    <div class="col">
      {{form.field_nom_value}}
    </div>
  </div>
</div>
<div style="display:none">{{form.provider_field}}</div>
{{ form|without('title', 'field_nom_value', 'field_niveau_value', 'field_enseignement_value', 'field_abstract_value',
'field_theme_target_id', 'field_modules_target_id', 'field_activity_type_value', 'provider_field')}}
