/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */

.navbar-default .navbar-brand {
  color: #8bb4d6;
}
.navbar-nav {
  flex-direction: inherit;
}
h1 , .h1 {
  font-size: 26px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
body {
  font-family: "Ubuntu", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333333;
  font-weight: 500;
}
ul.menu--footer {
  display: inline-flex;
  list-style: none; /* pour enlever les puces sur IE7 */
  margin: 10px;
}
.footer {
  padding-top: 0;
}
.region-footer {
  font-size: 9pt;
}
#waitingA {
  display: none;
  margin: auto;
  text-align: center;
}
#waitingB {
  display: none;
  margin: auto;
  text-align: center;
}

#spinner {
  display: none;
  margin: auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.alert-info {

    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;

}
.alert-link a {
    color: #2d6987;
  }
.alert-info a, .alert-info a:hover, .alert-info a:focus {

    color: #2d6987;

}
.clickme {
  cursor: pointer;
  color: #165ba8;
}

#edit-field-enseignement {
  /* display:flex; */
}
#edit-field-niveau {
  /* display:flex; */
}
.radio + .radio, .checkbox + .checkbox {
  margin-top: 10px;
}
.checkbox {
  margin-right: 20px;
}
.btn-slim {
  padding-top:0px;
  padding-bottom:0px;
}
.btn{
  padding: 2px 11px;
}

.btn-actions{
  padding: 2px 11px;
  margin: 12px 4ps 0px 0px;
}
.btn-default{
  color: #1a1a1a;
  background-color: #f9f8f6;
}

.btn:hover, .btn:focus, .btn.focus {
  color: #000;
}



.input-group-addon {
  display: none;
}

.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem;
}
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #3fb618;
}
.orange {
  color: orange;
}
.gray {
  color: #aea79f;
}

* > .special-hover-show,
*:hover > .special-hover-hidden {
  display: none;
}
*:hover > .special-hover-show {
  display: inline-block;
}
.active-code {
  background-color: #772953;
  color: #fff;
  border-radius: 4px;
  padding: 2px;
  display: inline-block;
  width:8em;
}
.inactive-code {
  padding: 2px;
  display: inline-block;
  width:8em;
}

.mytooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
  cursor: pointer;
}

.mytooltip .mytooltiptext {
  visibility: hidden;
  width: 165px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  left: 1.5em;
  bottom:0em;
  z-index: 1;
}
.visibility_none {
  position: absolute;
  left: -9999px;
  color: #FFF;
}

.gestion_etiquettes {
  height: 1.6em;
  padding-top:0.2em;
}


#etiqueter {
  position: relative;
  left:12px;
  top:8px;
}
.etiquetage {
  height: 0.6em;
  padding-top:0.2em;
}

.nodeco:hover {
  text-decoration: none;
}


.mytooltip:hover .mytooltiptext {
  visibility: visible;
}
.xsmall {
  font-size: x-small;
}
.hidden {
  display: none;
}
.logo_activite {
  width: 1.6em;
  height: auto;
}
.jupyterfline:first-line {
  line-height: 50px;
}
summary{
  outline:none;
}
.tag {
  border: 0px solid #bbb;
  border-radius: 3px;
  padding: 1px 5px;
  font-size: small;
  font-weight: bold;
}
.author_td {
  word-wrap: break-word;
  max-width: 6em;
}
.title_td {
  word-wrap: break-word;
  max-width: 12em;
/* white-space: nowrap; */
/* text-overflow: ellipsis; */
/* word-break: break-all; */
/* overflow: hidden; */
}

.tag_search {
  cursor: pointer;
}
.column2_search {
}
.whereIam_down .red_cross {
  display:inline;
}
.red_cross {
  display:none;
}
.whereIam_down {
  border: 3px solid;
  border-radius: 5px;
}
.column2_down {
  border: 3px solid;
  border-radius: 5px;
}
.new_small {
  font-size: small;
}
.new_proud {
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 1px;
  color: white;
  background-color: red;
  border-color: red;
}

.title_creator {
  color: darkblue;
}
.title_student {
  color: darkorange;
}
.title_associate {
  color: darkgreen;
}
.title_broken {
  color: grey;
}

.tools_wrapper {
  display: flex;
  justify-content: space-between
}

.actions .dropdown-menu {
    /*position: absolute;*/
    /*z-index: 1000;*/
    /*display: none;*/
    /*float: left;*/
    /*min-width: 10rem;*/
    /*padding: .5rem 0;*/
    /*margin: .125rem 0 0;*/
    /*color: #212529;*/
    /*text-align: left;*/
    /*list-style: none;*/
    /*background-color: #fff;*/
    /*background-clip: padding-box;*/
    /*border: 1px solid rgba(0,0,0,.15);*/
    /*border-radius: .25rem;*/
    transform: translate3d(-200px, 30px, 0px);
    top: -30px;
    left: 15px;
    /*will-change: transform;*/
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.dropdown-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}

.wrapper_action{
margin-bottom: -30px;
margin-top: 15px;
}

.go_button {
  border-radius: 12px;
  font-weight:bolder;
  color:#e2e3e5;
  font-size:1.3em;
  padding:0px 7px;
  height:2em;
  position:relative;
  top:10px;

}
.center_plus
{
    text-align:center;
  margin-top:13px;
  font-size:40px;
}
.block_container
{
    text-align:center;
    padding:30px;
}
.bloc_action
{
    display:inline;
    padding-right: 3px;
  }

.share-on-old {
  background-color: green;
  color: #fff;
  border-radius: 4px;
  padding: 2px;
  display: inline-block;
  width:7em;
  font-size: 16px;
}

.share-on {
  background-color: green;
  color: #fff;
  padding: 2px;
  display: inline-block;
  width:6em;
  font-size: 16px;
}
.dropdown-capytale-on {
  border-radius: 4px;
  background-color: green;
  color: white;
  padding: 2px 15px 2px 0px;
}

.share-on-menu {
  background-color: green;
  color: #fff;
  border-radius: 4px;
  padding: 2px 7px;
  display: inline-block;
  /*width:7em;*/
  font-size: 16px;
}


.share-off-old {
   color: red;
  width:7em;
  font-size: 16px;
  padding: 2px 7px;
  display: inline-block;
}
.dropdown-capytale-off {
  color: red;
  border-radius: 4px;
  border: 1px solid red;
  padding: 2px 15px 2px 0px;
}

.share-off {
   color: red;
  width:6em;
  font-size: 16px;
  border: 1px solid red;
  border-radius: 4px;
  padding: 2px 7px;
  display: inline-block;
}

.share-off-menu {
   color: red;
  border: 1px solid red;
  font-size: 16px;
  border-radius: 4px;
  padding: 2px 7px;
  display: inline-block;
}

.infobulle-wrapper {
  position: relative;
  display: none;
  /*border-bottom: 1px dotted black;*/
  cursor: pointer;
    background: #FFB6C1;
  transition: background-color 2s ease-out 100ms
}

.top-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7.5em;
  border: 1px solid darkgray;
}

.infobulle {
  width: 114px;
  background-color: #777;
  color: #fff;
  border-radius: 6px;
  padding: 10px;
  border: 2px solid black;

  /* Position the tooltip */
  position: absolute;
  right: 1em;
  bottom:1em;
  z-index: 1;
}
.hideme-wrapper {
  position: relative;
  display: none;
  /*border-bottom: 1px dotted black;*/
  cursor: pointer;
    background: #FFB6C1;
  transition: background-color 2s ease-out 100ms
}

.hideme {
  width: 400px;
  background-color: #777;
  color: #fff;
  border-radius: 6px;
  padding: 10px;
  border: 2px solid black;

  /* Position the tooltip */
  position: absolute;
  left: 1em;
  bottom:0em;
  z-index: 1;
}


.infobulle_reveal:hover + .infobulle-wrapper {
  display:inline-block;
  color: red;
  text-align: left;
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.3s;
}
.infos:hover + .hideme-wrapper {
  display:inline-block;
  color: red;
  text-align: left;
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.3s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.naked {
  text-align: left;
  background-color: white;
  border: 0px;
  padding-left: 0px;
}

.commeUnBouton {
color: #ffffff;
background-color: #511c39;
border-color: #491933;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 4px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.naked_button {
  text-align: left;
  /* background-color: white; */
  border: 0px;
  padding-left: 0px;
  padding-right: 0px;
  display: inline;
}

.deltag {
  display: none;
}
.tag:hover .deltag {
  border: 0px;
  padding-left: 0px;
  display: inline;
  background-color: #F6F6F6;
}

.tag:hover .tagicon {
  display: none;
}

.action-indiv {
  width: 181px;
  text-align: left;
  background-color: white;
  border: 0px;
  padding-left: 14px;
}
.action-indiv:hover {
  background-color: #eee;
}


.action-indiv-danger {
  color:red;
}

.hideinfo {
    display: inline-block;
  opacity: 0;
}

.myDIV:hover + .hideinfo {
  display: inline-block;
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.3s;
}

.hideinfo:hover {
  display: inline-block;
  opacity: 1;
}

.childB:hover {
  display: inline-block;
  opacity: 1;
}

.parent {
  margin: 0px;
  padding: 0px;
  text-align: left;
}
.childA {
  display: inline-block;
  padding: 0px;
  vertical-align: middle;
}
.childB {
  padding: 0px;
  vertical-align: middle;
}




/* add wrapper, continue with font-size */
@keyframes invisiblyGrowFontSize {
	0% {
    font-size: 0;
    opacity: 0;
	}
	100% {
    font-size: 1em;
    opacity: 0;
	}
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
	100% {
		opacity: 1;
	}
}
.details7[open] .content {
	animation-name: invisiblyGrowFontSize, fadeIn;
  animation-duration: 200ms, 300ms;
  animation-delay: 0ms, 200ms;
}

ul, #first_ul {
  list-style-type: none;
  padding-left: 0px;
}
ul, #myUL {
  list-style-type: none;
  padding-left: 0px;
}

.roundedSquare {
  border: 1px solid;
  border-right: 0px;
  border-left: 0px;
  /* display: inline-block; */
  width: 100%;
  /*border-radius: 5px;*/
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #F0F0F0;
}
.roundedSquareThick {
  border: 3px solid;
}

.tree_plus {
  cursor: pointer;
}

.tree_plus::before {
  content: "\25B6";
  font-size:1em;
  color: #aaa;
  display: inline-block;
  margin-right: -1.5em;

  position:relative; left:-1.3em; top:0px;
  transform: rotate(0deg);
  transition: transform 0.2s linear;
}

.tree_minus::before {
  transform: rotate(90deg);
  transition: transform 0.2s linear;
}

.nested {
  display: none;
}

.nestedo {
  padding-left:20px;
}


.active {
  display: inline-block;
}


.clean ul{
    list-style: none;
    line-height: 1.4em;
    padding-left: 1.5em;
}

.cols-container {
}

.colA {
  width: 18%;
  float: left;
  padding-top:3px;
  padding-right:1.5%;
  margin-right:1.5%;
  border-right: 2px solid #AAA;
  overflow-x:auto;
  min-height:300px;
}
.colA .container {
  width: auto;
}

.colB {
  float: right;
}
.colB-reduce {
  width: 80%;
  transition: 500ms ease-in-out;
}
.colB-deploy {
  width: 100%;
  transition: 500ms ease-in-out;
}
.colB-reduce {
  width: 80%;
}
.colB-deploy {
  width: 100%;
}

.openbtn {
  font-size: 17px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 5px 9px;
  border: none;
  border-radius: .25rem;
}

.pulse {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 4s infinite;
}
.hamnotif {
  position:relative;
  top:-8px;
  left:-14px;
  color:white;
  /* font-size:30px; */
}

@keyframes pulse {
	70% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	99% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.clone {
  background-color: #888;
  color: #fff;
}
.want {
  background-color: #888;
  color: #fff;
}
.share {
  background-color: #888;
  color: #fff;
}
.assoc {
  background-color: #888;
  color: #fff;
}
.card {
  margin-bottom:20px;
}
.activity_sq {
  border: 1px solid #ccc;
  margin: 10px;
  padding:10px;
  max-width:155px;
  border-radius: 5px;
}
/*.ui-dialog-titlebar-close:before {*/
  /*content: "×";*/
  /*position: relative;*/
  /*bottom: 4px;*/
/*}*/
.yellow {
  color: #ffa70d;
}
.act-star {
  cursor: pointer;
}
.nav-link {
  cursor: pointer;
}
.ui-widget-overlay {
  z-index: 0;
}
.classic-link {
  text-decoration: underline;
}
.abstract {
  text-align: left;
}
.metadonnees {
  border: 1px solid #ccc;
  border-radius: 5px;
}
.pres-sq {
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline-block;
  width:100%;
  padding: 15px 15px;
  margin: 10px;
}


.logo-rounded {
  border-radius: 8%;
  position: relative;
  float: right;
}
.container-home {
  padding-left: 0px;
  padding-right: 35px;
}
.partage-wrapper-on {
  color: #000;
  display: inline-block;
}
.partage-wrapper-off {
  color: #ccc;
  display: inline-block;
}
#block-capytale5-content {
  margin-top: 2em;
}
#navbarSupportedContent.justify-content-md-end {
  justify-content: space-between !important;
}
.form-item-code {
  margin:-0.7em 0 0.7em;
}
#capytale {
  display: flex;
}
#edit-submit.btn{
  margin: 15x 2px 17px 5px;
}
#myInput {
  margin-bottom: 1em;
}
.bbe {
  color: #fff;
}
.bbe:hover {
  color: #ccc;
}
  .bloc-bib-edit {
  background-color: #888;
  color: #fff;
  display:flex;
  align-items:center;
  height: 4em;
  padding-left:1em;
  border-radius: 4px 4px 0 0;
  text-decoration: none;
  margin-bottom:3em;
}

.wooble {
     position: relative;
    -webkit-animation-name: move; /* Safari 4.0 - 8.0 */
    animation-name: move; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
    animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
    animation: move 0.5s infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes move {
  0% {left: 0px;}
  50% {left: 10px;}
  100% {left: 0px;}
}

/* Standard syntax */

@keyframes move {
  0% {left: 0px;}
  50% {left: 10px;}
  100% {left: 0px;}
}

a.nbvues {
  text-decoration:none;
  display:inline-block;
  border-bottom:1px solid;
  padding-bottom:0px;
}
.newMy{
  color:red;
  cursor: pointer;
  position:relative;
  top:-18px;
}
.hotInfoTag{
  color:blue;
  cursor: pointer;
  position:relative;
  top:-23px;
  right: 0px;
}
.superbounce {
    display: inline-block;
    position: relative;
    -moz-animation: bounce 1s infinite linear;
    -o-animation: bounce 1s infinite linear;
    -webkit-animation: bounce 1s infinite linear;
    animation: bounce 1s infinite linear;
}

@keyframes bounce {
    0% { top: 0; }
    35% { top: -0.2em; }
    50% { top: -0.3em; }
    65% { top: -0.2em; }
    100% { top: 0; }
}
.newMyToast{
  /* margin-bottom:1em; */
  border:1px solid black;
}
.newMyToastBody{
  background-color:#eee;
}
.start-3 {
  right: 30px !important;
}
.top-3 {
  top: 30px !important;
}
.bib-theme ul{
  list-style-type:square;
}
.bib-modules ul{
  list-style-type:circle;
}
.active-filter-on {
  border: 2px solid red;
  padding: 6px;
  border-radius: .25rem;
}
.param_supp {
  padding-top:0.5em;
  padding-bottom:0.5em;
  padding-left:1em;
}

.content .field--name-field-comment-action-required {
	display: table;
	padding: .25em .4em;
	font-size: 87%;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .45rem;
	color: #444;
	background-color: #eaeaea;
	margin: 0.3rem 0rem;
	border: 1px solid #666;
	padding: 0.5em;
}


.content .field--name-comment-body {
  border: 1px solid #CCC;
  border-radius: .25rem;
  padding: 1rem 1rem 0.2rem;
  margin-top: 0rem;
}

.content ul.inline li {
  padding: 0 1em 0 0;
}
[id^=edit-comment-body-0-format] {
  display: none;
}
.color-red {
  color: red;
}
.comment__submitted {
	margin-bottom: 0.5rem;
  font-size: 75%;
  clear: left;
}

.ap_ch {
  border: 1px solid #ddd;
  border-radius:5px;
}
.ev_ch {
  border: 1px solid #ddd;
  border-radius:5px;

}
.valign {
  vertical-align:top;
}

.okidok {
  border: 4px solid green !important;
}

.redborder {
  border:4px solid red;
}


.pulse {
  animation: pulse 0.8s ease-out infinite;
}

@keyframes pulse {
  50% {
    box-shadow: 0 0 0 1px #ccc, 0 0 0 3px rgba(255, 255, 255, 0.75);
  }
  100% {
    box-shadow: 0 0 0 3px #222, 0 0 0 6px rgba(255, 255, 255, 0);
  }
}

.small-spinner {
  display: table-cell;
  width: 5px;
  height: 5px;
}
.small-spinner:before {
  content: " ";
  display: inline-flex;
  width: 16px;
  height: 16px;
  margin-left: -19px;
  border-radius: 50%;
  border: 3px solid #fff;
  border-color: #444 transparent #444 transparent;
  animation: small-spinner 1.2s linear infinite;
}
@keyframes small-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.comment-clickable {
  cursor: pointer;
}

.hiddddddddden {
  font-size: 50%;
}

#clear {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px;
  margin: 0.3em;
  margin-top: 1em;
  margin-right: 1em;
}
.rating-select{
  display: none;
}
.rating,
.critlabel,
.total {
  float: left;
  width: 105px;
  margin: 0.3em;
}
.small-rating,
.small-label,
.small-total {
  float: left;
  width: 2em;
  margin: 0.3em;
}
.total {
    color: gray;
    width: 1em;

}
.critlabel {
  width: 1em;
}
#titles {
  clear: left;
  margin-top: 0.3em;
  font-size: small;
}
#ratings {
  clear: left;
  font-size: small;
}

.rating__star {
  font-size: 1.3em;
  cursor: pointer;
  color: lightgray;
  transition: filter linear 0.3s;
}
.rating__star:hover {
  filter: drop-shadow(1px 1px 4px gray);
  color: black;
}

.small-rating > .fa-times {
  color: red;
}
.small-rating > .fa-check {
  color: green;
}
.small-rating > .fa-heart {
  color: green;
  font-weight: bold;
}

.active:has(.fa-times) {
  color: red;
}
.active:has(.fa-check) {
  color: green;
}
.default:has(.fa-check) {
  color: #9FDA96;
}

.active:has(.fa-heart) {
  color: green;
  font-weight: bold;
}
.fa-ban {
  color: red;
  font-weight: bold;
}
.fa-medal {
  color: darkorange;
  font-weight: bold;
}
.fa-check-circle {
  color: mediumseagreen;
  font-weight: bold;
}
fieldset[data-drupal-selector="edit-field-criteria-0"] {
  display: none;
}
.criteria {
  font-size: 2em;
}
.form-item-field-anti-cheat-0-passwd {
  font-weight: initial;
}
.form-item-field-anti-cheat-0-enabled > label.option {
  font-weight: bold;
}
#edit-field-anti-cheat-0-anti-cheat > .fieldset-wrapper {
  display: flex;
  gap: 4em;
}
.form-item-field-anti-cheat-0-password > label {
  padding-right: 2em;
}
#passwd {
  width: 23em;
}
.form-item-field-anti-cheat-0-password {
  display:flex;
  flex-grow: 4;
}
.form-item-field-anti-cheat-0-passwd {
  display: none;
}
.ital {
  font-style: italic;
  color: #666;
}
