{# Charger la bonne config datatables #}
{{ attach_library('capytale_bib/bibajax') }}

{% if vars.isTeacher %}
<h1>Bibliothèque d'activités partagées entre enseignants</h1>
{% else %}
<h1>Bibliothèque d'activités partagées</h1>
{% endif %}

{{ vars.isteacher }}

<div class="alert alert-info" role="alert">
<p>Les activités qui s'affichent ici sont partagées sous licence libre
<a href="https://creativecommons.org/licenses/by-sa/3.0/fr/" style="color:#2d6987;">Creative Commons By-SA <i class="fab fa-creative-commons"></i></a>.</p>
{% if vars.isTeacher %}
<p>Vous pouvez effectuer une <a href="/web/bibliotheque2">recherche avancée (version beta) <i class="fas fa-search fa-lg"></i></a></p>
{% endif %}
</div>

<table id="mytable" class="display" style="width:100%">
    <thead>
      <tr>
        <th> Type</th>
        <th> Titre </th>
        <th> </th>
        <th> Description</th>
        <th> Ens.</th>
        <th> Like </th>
        <th> Copie </th>
        <th> Modifié</th>
        <th> Auteur</th>
      </tr>
    </thead>
</table>
