{{ attach_library('core/drupal.dialog.ajax') }}
{{ attach_library('core/jquery.form') }}

<div class="container-fluid">

  {{ form.form_build_id }}
  {{ form.form_token }}
  {{ form.form_id }}
  <div class="row">
    <div class="col">
      {{ form.title }}
    </div>
  </div>
  <div id="bibmetadataformmessage"></div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header share">
          {{ form.field_status_shared }}
          {{ form.field_teacheraccess }}
            <div class="col offset-1">
              {{ form.field_status_web }}
            </div>
          {{ form.display }}
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              {{ form.field_abstract }}
              {{ form.field_description }}
              {{ form.field_auteur }}
            </div>
          </div>
          <div class="row">
            <div class="col">
              {{ form.field_enseignement }}
            </div>
            <div class="col">
              {{ form.field_niveau }}
            </div>
            <div class="col-6">
              {{ form.field_theme }}
              {{ form.field_modules }}
            </div>
          </div>
          <div class="row">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    {{ form.actions }}
  </div>
</div>
