{% if vars.nid == 0 %}
Vous n'avez pas accès à cette ressource.
{% else %}
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
      <img src="{{ vars.icon }}" width="64px">
      <h1 class="display-4 fw-bold lh-1 mb-3">{{ vars.title }}</h1>
      <p class="abstract">{{ vars.abstract | nl2br }}</p>

      <p>
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Voir</button>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4">Télécharger</button>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4">Permalien</button>
      </p>
    </div>
    <div class="col-md-10 mx-auto col-lg-5 metadonnees">
      <div class="form-floating mb-3">
        <h3> Méta-données </h3>
        <ul>
          <li> <b>Dernière modification :</b> {{ vars.changed |date("d/m/Y")}} </li>
          <li> <b>Enseignement(s) :</b> {{ vars.enseignement }} </li>
          <li> <b>Niveau(x) :</b> {{ vars.niveau }} </li>
          <li> <b>Theme(s) abordé(s) :</b> {{ vars.theme }} </li>
          <li> <b>Module(s) utilisé(s) :</b> {{ vars.modules }} </li>
        </ul>

      </div>
    </div>
  </div>
  <hr class="my-4">
  <small class="text-muted">
    <p>Cette activité est proposée par {{ vars.prenom }} {{ vars.nom }} sous licence libre
    <a href="https://creativecommons.org/licenses/by-sa/3.0/fr/" style="color:#2d6987;">Creative Commons BY-SA <i class="fab fa-creative-commons"></i></a>.
  </small>
</div>


<!--
  <ul>

  <li> <b>nid :</b> {{ vars.nid }} </li>
  <li> <b>type_ori :</b> {{ vars.type_ori }} </li>
  <li> <b>type :</b> {{ vars.type }} </li>
  <li> <b>kernel :</b> {{ vars.kernel }} </li>

  </ul>
-->
{% endif %}
