{{ attach_library('capytale/archive-builder') }}

<div id="archive-error"></div>
<div id="archive-buttons"></div>
<p id="archive-message"></p>

<script>
(function(archiveBuilder) {
    const errorDiv = document.getElementById('archive-error');
    function printError(s) {
        const p = document.createElement('p');
        p.appendChild(document.createTextNode(s));
        errorDiv.appendChild(p);
    }
    function printKo(idsKo) {
        const titles = [];
        for (id of idsKo) {
            titles.push(archiveBuilder.activityList[id].title);
        }
        if (titles.length === 0) return;
        const ul = document.createElement('ul');
        ul.style.listStyleType = 'disc';
        ul.style.paddingLeft = '1.5em';
        for (const t of titles) {
            const li = document.createElement('li');
            li.appendChild(document.createTextNode(t));
            ul.appendChild(li);
        }
        errorDiv.appendChild(ul);
    }
    function confirmOk() {
        const buttonsDiv = document.getElementById('archive-buttons');
        buttonsDiv.textContent = '';
        const okButton = document.createElement('button');
        okButton.appendChild(document.createTextNode('Ok'));
        let rs;
        const prms = new Promise((r)=>{rs=r});
        buttonsDiv.appendChild(okButton);
        okButton.addEventListener('click', ()=>{
            buttonsDiv.textContent = '';
            rs();
        });
        return prms;
    }

    function confirmContinue() {
        const buttonsDiv = document.getElementById('archive-buttons');
        buttonsDiv.textContent = '';
        const cancelButton = document.createElement('button');
        cancelButton.appendChild(document.createTextNode('Annuler'));
        const okButton = document.createElement('button');
        okButton.appendChild(document.createTextNode('Continuer'));
        let rs;
        const prms = new Promise((r)=>{rs=r});
        buttonsDiv.appendChild(okButton);
        buttonsDiv.appendChild(cancelButton);
        cancelButton.addEventListener('click', ()=>{
            buttonsDiv.textContent = '';
            rs(false);
        });
        okButton.addEventListener('click', ()=>{
            buttonsDiv.textContent = '';
            rs(true);
        });
        return prms;
    }

    if (archiveBuilder.toArchive && Array.isArray(archiveBuilder.toArchive)) {
        const ids = archiveBuilder.toArchive;
        const p_elem = document.getElementById('archive-message');
        archiveBuilder.toArchive = undefined;
        const idsOk = [];
        const idsKo = [];
        let doitPrms;
        if (archiveBuilder.mode === 'my') {
            for (const id of ids) {
                if (archiveBuilder.isArchivable(id)) {
                    idsOk.push(Number(id));
                } else {
                    idsKo.push(Number(id));
                }
            }
            if (idsKo.length > 0) {
                if (idsOk.length === 0) {
                    printError('Les éléments sélectionnés sont d\'un type qui n\'est pas exportable.');
                    //printError('Vous pouvez les ouvrir une par une afin de les exporter.');
                    doitPrms = confirmOk().then(() => false);
                } else {
                    let msg;
                    if (idsKo.length === 1) msg = 'L\'activité suivante est d\'un type qui n\'est pas exportable :';
                    else msg = 'Les éléments sélectionnés suivants sont d\'un type qui n\'est pas exportable :';
                    printError(msg);
                    printKo(idsKo);
                    //if (idsKo.length === 1) msg = 'Vous pouvez l\'ouvrir afin de l\'exporter.';
                    //else msg = 'Vous pouvez les ouvrir une par une afin de les exporter.';
                    //printError(msg)
                    printError('Voulez-vous exporter les autres éléments sélectionnés ?')
                    doitPrms = confirmContinue();
                }
            } else {
                doitPrms = Promise.resolve(true);
            }
        } else if (archiveBuilder.mode === 'assignment') {
            for (const id of ids) {
                idsOk.push(Number(id));
            }
            doitPrms = Promise.resolve(true);
        } else {
            printError('Mode d\'exportation inconnu.');
            doitPrms = confirmOk().then(() => false);
        }

        doitPrms.then(doit => {
            if (doit) {
                archiveBuilder.createZip(idsOk, (msg) => {
                    p_elem.textContent = msg;
                }).then((blob) => {
                    archiveBuilder.download(blob);
                    Drupal.dialog('#drupal-modal').close();
                }).catch(() => {
                });
            } else {
                Drupal.dialog('#drupal-modal').close();
            }
        });
    }

}(window.archiveBuilder || (window.archiveBuilder = {})))
</script>